<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Let's Chat</title>
</head>
<body>
    <h1 class="inline text-left ms-20 mt-9">You have been logged out</h1>
    <img class="h-14 inline ms-30" src="https://img.icons8.com/?size=512&id=115640&format=png" alt="">
    <a class=" py-2 p-3 pl-3 pr-4 rounded bg-blue-900 text-white text-uppercase" href="/login">Login Again</a>
    </br></br></br>
    <h1 class="inline ms-20 mt-5 ml-5">Not a user?</h1>
    <a class=" py-2 ms-30  pl-3 pr-4 rounded bg-blue-900 text-white" href="/register">Register Now</a>
</body>
